// .env.json
// {
//   "AppSettings": {
//     "BasePath": "/dashboard",
//     "ClientAPIKey": "APIKEY",
//     "LoggingActive": false,
//     "ResultsPerPage": 20
//   },
//   "ConnectionStrings": {
//     "CommonDB": "Server=127.0.0.1; Port=5432; Database=common; User Id=commonapi; Password=PASSWORD",
//     "CommondataDB": "Server=127.0.0.1; Port=5432; Database=commondata; User Id=commondataapi; Password=PASSWORD",
//     "Database1": "Server=127.0.0.1; Port=5432; Database=database1; User Id=database1; Password=PASSWORD",
//     "Database1API": "Server=127.0.0.1; Port=5432; Database=database1; User Id=database1api; Password=PASSWORD",
//     "Database2": "Server=127.0.0.1; Port=5432; Database=database2; User Id=database2; Password=PASSWORD",
//     "Database2API": "Server=127.0.0.1; Port=5432; Database=database2; User Id=database2api; Password=PASSWORD"
//   },
//   "Email": {
//     "Active": false,
//     "fromEmail": "email@organisation.com",
//     "fromName": "Organisation",
//     "clientId": "clientId",
//     "clientSecret": "clientSecret",
//     "tenantId": "tenantId"
//   },
//   "Frontend": {
//     "BaseUrl": "http://my.server.com/dashboard/app/"
//   },
//   "Jwt": {
//     "Audience": "Audience",
//     "Issuer": "Issuer",
//     "Secret": "SECRET"
//   }
// }

//.env.Development.json
// {
//   "Email": {
//     "Active": false
//   },
//   "Environment": "development",
//   "Frontend": {
//     "BaseUrl": "http://localhost:5173/dashboard/app/"
//   }
// }

//.env.Production.json
// {
//   "Email": {
//     "Active": true
//   },
//   "Environment": "production",
//   "Frontend": {
//     "BaseUrl": "https://www.server.com/dashboard/app/"
//   }
// }
